.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-bottom: 52px;
}

.btn {
  background-color: white;
  color: #101828;
  font-size: 16px;
  border: 1px solid #dadde1;
  border-radius: 100px;

  width: 145px;
  height: 56px;

  transition: border-color 0.2s ease, outline 0.3s ease;
}

.btn:hover {
  border-color: #d84343;
}

.btn:focus {
  outline: none;
}
