.list {
  display: flex;
  gap: 40px;
}

.container {
  margin: 48px 64px;
}

.listItem {
  position: relative;
  text-decoration: none;

  color: #101828;
  font-size: 20px;
}

.active {
  color: #101828;
}

.listItem:hover {
  color: #101828;
}

.line {
  background-color: #dadde1;
  color: #dadde1;
  margin-bottom: 44px;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e44848;
  z-index: 1;
  transition: width 0.3s ease-in-out;
}
