.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.favouriteItem {
  width: 888px;
  height: 368px;

  border: 1px solid #f2f4f7;
  border-radius: 20px;
  padding: 24px;

  display: flex;
  gap: 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #101828;
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}

.price {
  color: #101828;
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}

.favourite {
  width: 26px;
  height: 24px;
}

.priceContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.locAndRewContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.ratingContainer,
.locationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.favourite {
  width: 26px;
  height: 24px;

  stroke: #e44848;
}

.ratingImg,
.locationImg {
  width: 16px;
  height: 16px;
}

.ratingImg {
  fill: #ffc531;
}

.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: 4.5em;

  color: #475467;
  font-size: 16px;
  margin-top: 24px;
}
