.navLink {
  position: relative;
  padding-bottom: 7px;
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

.navLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s, background-color 0.3s;
}

.navLink:hover,
.navLinkActive,
.navLink:active {
  color: #ff3c60;
}

.navLink:hover::after,
.navLinkActive::after,
.navLink:active::after {
  width: 100%;
  background-color: #ff3c60;
}

.container {
  background-color: #f2f4f7;
  width: 1440px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px;
}

.logo {
  color: #101828;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
}

.partlogo {
  color: #475467;
}

.navigation {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
