.navLink {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

.navLink:hover,
.navLinkActive,
.navLink:active {
  color: #ff3c60;
}

.container {
  background-color: #f2f4f7;
  width: 1440px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  color: #101828;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.logo:hover {
  color: #101828;
}

.partlogo {
  color: #475467;
}

.navigation {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}
